@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  text-align: center;
  background: #161616;
  color: #000;
}

a {
  color: #F7F7F7;
}

.time {
  line-height: 32px;
  background: #F7F7F7;
  color: #161616;
  white-space: nowrap;
}

.time .right {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  background: #F7F7F7;
}

.time a {
  text-decoration: none;
}

.time .github {
  width: 32px;
  height: 32px;
  background: url(/assets/github.png);
  display: inline-block;
  background-size: contain;
}

.scalable {
  position: absolute;
  top: calc(32px + 1vw);
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.outer {
  display: block;
  width: 300px;
  height: 200px;
  color: white;
  background: #7F7F7F;
  position: relative;
  margin: calc(4px + 0.5vw);
  border-radius: 2%/3%;
}

.status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2%/3%;
}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.running .inner {
  height: 100%;
}

.paused_job {
  background: #3498DB;
}

.errored {
  background: #E3B80D;
}

.failed {
  background: #F24646;
}

.success {
  background: #059B4A;
}

.unknown {
  background: #7F7F7F;
}

/* Animated borders for activity */
.running,
.on_hold {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  outline-offset: 0;
}

.running {
  animation-name: pulse-running;
  -webkit-animation-name: pulse-running;
}

.on_hold {
  animation-name: pulse-on-hold;
  -webkit-animation-name: pulse-on-hold;
}

.canceled {
  -moz-box-shadow: 0 0 0 1vw #555555;
  box-shadow: 0 0 0 1vw #555555;
  -webkit-box-shadow: 0 0 0 1vw #555555;
}

@-webkit-keyframes pulse-on-hold {
  0% {
    -webkit-box-shadow: 0 0 0 0 #8167E4;
  }

  70% {
    -webkit-box-shadow: 0 0 0 2vw rgba(128, 103, 228, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(128, 103, 228, 0);
  }
}

@keyframes pulse-on-hold {
  0% {
    -moz-box-shadow: 0 0 0 0 #8167E4;
    box-shadow: 0 0 0 0 #8167E4
  }

  70% {
    -moz-box-shadow: 0 0 0 2vw rgba(128, 103, 228, 0);
    box-shadow: 0 0 0 2vw rgba(128, 103, 228, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(128, 103, 228, 0);
    box-shadow: 0 0 0 0 rgba(128, 103, 228, 0);
  }
}

@-webkit-keyframes pulse-running {
  0% {
    -webkit-box-shadow: 0 0 0 0 #3495DC;
  }

  70% {
    -webkit-box-shadow: 0 0 0 2vw rgba(52, 150, 220, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 150, 220, 0);
  }
}

@keyframes pulse-running {
  0% {
    -moz-box-shadow: 0 0 0 0 #3495DC;
    box-shadow: 0 0 0 0 #3495DC
  }

  70% {
    -moz-box-shadow: 0 0 0 2vw rgba(52, 150, 220, 0);
    box-shadow: 0 0 0 2vw rgba(52, 150, 220, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 150, 220, 0);
    box-shadow: 0 0 0 0 rgba(52, 150, 220, 0);
  }
}
