<!DOCTYPE html>
<html>
  <head rel="v2">
    <title>CircleCI Summary</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <script>window.refresh_interval = {{ .RefreshInterval }}</script>
    <script src="/assets/favico-0.3.10.min.js"></script>
    <script src="/assets/refresh.js"></script>
  </head>
  <body>
    <div class="time">
      {{ .Now }} (<span id="countdown">{{ .RefreshInterval }}</span>)
      <div class="right">
        <a class="github" href="https://github.com/armakuni/circleci-workflow-dashboard" target="_blank">&nbsp;</a>
      </div>
    </div>
    <div class="scalable">
    {{range .DashboardMonitors}}
      <a href="{{ .Link }}" target="_blank" class="outer">
        <div class="status {{ .Status }}"></div>
        <div class="inner">
          <span class="{{ .Name }}"><span>{{ .Name }}</span></span>
          <span class="{{ .Workflow }}"><span>{{ .Workflow }}</span></span>
          <span class="{{ .Branch }}"><span>{{ .Branch }}</span></span>
        </div>
      </a>
    {{end}}
    </div>
  </body>
</html>
